@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
body {
    background: #FFFFFF;
    overflow-y: visible;
    height: 100%;
    font-family: 'Hind', sans-serif;
}

a {
    color: #81848f;
}
p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #a6a7aa;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 10px;
}

h3 {
    font-size: 22px;
}

.link {
    position: relative;
    font-size: 13px;
    font-weight: 600;
}
.link:after {
    position: absolute;
    top: 8px;
    right: -15px;
    width: 9px;
    height: 2px;
    background: #17bed2;
    content: " ";
}

.row-space-1 {
    margin-right: -1px;
    margin-left: -1px;
    margin-bottom: 1px;
}

.row-space-1 > [class*="col-"] {
    padding-right: 1px;
}

.service {
    background: #fff;
    padding: 50px;
}

.ant-card-meta-detail > div:not(:last-child) {
     margin-bottom: 0px;
    color: #515769;
}
